@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('./src/fonts/montserrat/Montserrat-ExtraBold.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./src/fonts/montserrat/Montserrat-SemiBold.ttf')
        format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./src/fonts/montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyBold';
    src: url('./src/fonts/Gilroy/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GilroyExtraBold';
    src: url('./src/fonts/Gilroy/Gilroy-Extra-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#packages {
    padding: 65px 0;
    background-image: url(/src/assets/texture.png);
    text-align: center;
}

#packages h1 {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
    color: #ffffff;
    font-family: Montserrat-ExtraBold;
}

#packages h1 span {
    color: #fe6309;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.packagesRow {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: stretch;
}

.packagesItem {
    height: auto;
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

#packages h2 {
    font-size: 55px;
    line-height: 70px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fe6309;
    position: relative;
    color: transparent;
    font-family: Montserrat-ExtraBoldItalic;
}

#packages h3 {
    font-size: 16px;
    line-height: 19px;
    padding: 9px 20px;
    border-radius: 7px;
    color: #000000;
    font-family: Montserrat-SemiBold;
    background: #ffffff;
}

#packages h3 span {
    color: #ff2121;
}

#packages p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 30px;
    color: #ffffff;
    font-family: Montserrat-Light;
}

#packages p span {
    color: #fe6309;
}

.push-top {
    margin-top: auto;
}

#packages .btn {
    margin-top: 50px;
}

.btn {
    color: #000000;
    font-family: GilroyBold;
    font-size: 16px;
    line-height: 19px;
    background: #fe6309;
    border: 1px solid #fe6309;
    padding: 17px 42px;
    border-radius: 50px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.top {
    border: 2px solid red !important;
    border-radius: 8px;
    position: relative;
}

.top::before {
    content: 'TOP';
    position: absolute;
    top: 15px;
    left: 10px;
    font-size: 24px;
    color: red;
    font-family: GilroyExtraBold;
    transform: rotate(-30deg);
}

@media screen and (max-width: 900px) {
    #packages {
        padding: 110px 0;
    }

    #packages h1 {
        margin-bottom: 0;
    }

    .packagesRow {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: scenter;
        align-items: center;
    }
    .packagesItem {
        height: auto;
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }

    #packages h2 {
        font-size: 70px;
        line-height: 80px;
    }

    #packages h3 {
        font-size: 18px;
        line-height: 22px;
        padding: 9px 20px;
        border-radius: 7px;
    }

    #packages p {
        font-size: 16px;
        line-height: 25px;
        margin-top: 50px;
    }

    #packages .btn {
        margin-top: 50px;
        font-size: 20px;
        line-height: 24px;
        padding: 19px 50px;
        border-radius: 50px;
    }
}
