* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a {
    text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

section {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    -moz-overflow: hidden;
}
/* 
body {
    overflow: auto;
    scrollbar-width: none;
    overflow: hidden;
} */

body::-webkit-scrollbar {
    display: none;
}
